<div class="flex flex-col text-sm w-80 px-4 py-3 gap-2 rounded-md border-2 border-blue-chill-950 sm:w-auto bg-white">
    <h3 class="font-medium text-lg border-b-2 border-gray-700">Restablecer contraseña</h3>
    <div class="w-full mt-2">
        <label for="username" class="block mb-1.5 font-medium">Nombre de usuario</label>
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg text-sm focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
            type="text" id="username" placeholder="JuanCarlos">
    </div>
    <div class="w-full">
        <label for="new-password" class="block mb-1.5 font-medium">Nueva contraseña</label>
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg text-sm focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
            [type]="fieldType" id="new-password" placeholder="myNewPassword123">
    </div>
    <div class="w-full flex justify-start gap-2 items-center">
        <input
            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 text-emerald-500 focus:ring-emerald-500 checked:hover:bg-emerald-600 checked:bg-emerald-500"
            type="checkbox" id="show-password" (change)="showPassword()">
        <label for="show-password" class="text-sm text-gray-600">Mostrar contraseña</label>
    </div>
    <div class="w-full">
        <label for="confirm-password" class="block mb-1.5 font-medium">Repetir contraseña</label>
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg text-sm focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
            type="password" id="confirm-password" placeholder="myNewPassword123">
    </div>

    <app-button class="mt-2 mx-auto">Cambiar contraseña</app-button>
</div>