.contenedor-items-carrousel {
  position: relative;
  display: flex;
  width: 65vw;
  height: 60vh;
  margin: 20px auto;
  align-items: center;
  border: 2px solid black;
}

.contenedor-items-carrousel img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

p {
  font-weight: bold;
  font-size: 24px;
  width: 5%;
  position: absolute;
  background-color: var(--header-color);
  align-content: center;
  text-align: center;
  z-index: 1;
  height: 100%;
  opacity: 0.4;
}

p:hover {
  opacity: 0.8;
}

.mover-derecha {
  right: 0;
}

