<nav *ngIf="(breadcrumbs$ | async) as breadcrumbs" class="min-w-full px-8 py-5 text-sm text-gray-600 font-medium opacity-75">
  <ol>
    <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="inline-flex mr-0.5">
      <a *ngIf="!last" [routerLink]="breadcrumb.url" class="cursor-pointer hover:text-gray-700">
        {{ breadcrumb.label }}
        <p class="inline-flex mr-0.5"> > </p>
      </a>
      <span *ngIf="last" class="text-gray-900">{{ breadcrumb.label }}</span>
    </li>
  </ol>
</nav>
