<header class="flex flex-row justify-between h-16 px-8 items-center bg-aqua-0 drop-shadow-md">
  <a routerLink="/home">
    <div class="flex gap-2.5 items-center h-full">
      <h4 class="font-semibold text-2xl">
        Banco Avocado
      </h4>
      <img src="avocado.png" alt="logo banco Avocado" class="w-7 h-9">
    </div>
  </a>

  <div *ngIf="isNotLoggedIn"
       class="text-dark h-full px-4 py-2 bg-blue-chill-600 content-center
       hover:bg-blue-chill-800 hover:text-gray-light">
    <p class="font-medium text-base">Iniciar sesión</p>
  </div>
  <div *ngIf="isLoggedIn" class="h-full px-4 py-2 bg-blue-chill-600 content-center
       hover:bg-blue-chill-800">
    <img src="iconoUsuario.png" alt="icono iniciar sesión" class="w-8 h-8 hover:invert">
  </div>
</header>
