<header class="flex flex-row justify-between py-3 px-8 items-center bg-aqua drop-shadow-md">
  <a routerLink="/home">
    <div class="flex gap-2.5 items-center">
      <h4 class="font-semibold text-2xl">
        Banco Avocado
      </h4>
      <img src="avocado.png" alt="logo banco Avocado" class="w-7 h-9">
    </div>
  </a>

  <div *ngIf="isNotLoggedIn" class="flex gap-3 items-center justify-evenly">
    <p class="font-medium text-base">Iniciar sesión</p>
    <img src="iconoUsuario.png" alt="icono iniciar sesión" class="w-9 h-9">
  </div>
  <div *ngIf="isLoggedIn" class="account">
    <img src="iconoUsuario.png" alt="icono iniciar sesión" class="w-12 h-12">
  </div>
</header>
