<div class="my-4 w-96 mx-auto">
  <form class="flex flex-col bg-blue-chill-200 p-6 gap-4 rounded-md shadow-md ">
    <div  class="">
      <h4 class="text-center text-2xl font-medium"> Crear Producto</h4>
    </div><br>
    <div>
      <label for="name">Nombre del producto</label>
      <div>
        <input id="name" type="text" class="shadow appearance-none border rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div>
      <label for="monto">Monto</label>
      <div>
        <input id="monto" type="text" placeholder="Minimo de $200.000" class="shadow appearance-none border rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div>
      <label for="precio">Precio</label>
      <div>
        <input id="precio" type="text" placeholder="Minimo 25.000" class="shadow appearance-none border rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div>
      <label for="beneficios">Beneficios</label>
      <div>
        <input id="beneficios" type="text" placeholder="Beneficios adicionales" class="shadow appearance-none border rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div>
      <label for="ciudad-beneficiada">Ciudad beneficiada</label>
      <div>
        <input id="ciudad-beneficiada" type="text" class="shadow appearance-none border rounded  py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div>
      <label for="tipo-producto">Tipo de producto</label>
      <div>
        <select id="tipo-producto" class=" shadow appearance-none border rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option selected>Elija...</option>
          <option>Tarjeta de credito</option>
          <option value="">Tarjeta de debito</option>
          <option value="">Prestamos</option>
        </select>
      </div>
    </div>
    <button class="w-auto px-3 py-2.5 bg-blue-chill-400 hover:bg-blue-chill-300 rounded-md">Crear</button>
  </form>

</div>
