<div class="relative overflow-hidden max-w-[48rem] m-auto shadow-xl">
  <div class="flex w-full aspect-video overflow-x-auto">
    <img #image *ngFor="let slide of slides" [src]="slide.image" [alt]="slide.text" class="w-full hidden">
  </div>
  <button (click)="prevSlide()" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-blue-chill-700 bg-opacity-50 text-white p-2 hover:bg-opacity-75">&#10094;</button>
  <button (click)="nextSlide()" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-blue-chill-700 bg-opacity-50 text-white p-2 hover:bg-opacity-75">&#10095;</button>
</div>
