<form class="max-w-sm mx-auto bg-white px-3.5 py-4 rounded-md shadow-xl border-2 border-blue-chill-950">
  <div class="mb-5">
    <label for="emailLogin" class="block mb-2 text-sm font-medium text-black">Email</label>
    <input type="email" id="emailLogin"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
      placeholder="name@mail.com" required />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-black">Contraseña</label>
    <input type="password" id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
      required />
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox"
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 text-emerald-500 focus:ring-emerald-500 checked:hover:bg-emerald-600 checked:bg-emerald-500" required />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-black">Remember me</label>
  </div>

  <app-button [typeBtn]="'submit'">Enviar</app-button>

  <a (click)="openPasswordDialog()" class="cursor-pointer">
    <p class="text-sm text-center opacity-60 mt-2.5 underline">Olvidé mi contraseña</p>
  </a>
</form>