<div class="flex max-w-xs sm:w-full h-auto justify-center mb-5">
  <div class="flex border-2 shadow max-w-full sm:max-w-2xl items-center justify-center bg-white px-2 py-2 sm:px-8 sm:py-5">
    <div *ngFor="let option of options; let i = index;"
         class="flex flex-1 w-32 flex-col items-center text-center text-balance cursor-pointer">
      <a routerLink="{{ option.route }}" class="w-full">
        <img [src]="option.icon" [alt]="option.alt" class="size-11 mx-auto">
        <p>{{ option.name }}</p>
      </a>
    </div>
  </div>
</div>
