<div class="items-center flex justify-center space-y-3  pb-4 gap-4 p-6 rounded shadow-2xl  border-2 border-blue-chill-950">

  <div class=" gap-4 p-6 rounded shadow-2xl  border-2 border-blue-chill-950">
    <h4>Tarjeta de credito visa</h4>
    <div class="justify-center">
      <div><img src="products-img/tarjeta blue sky.png" alt="" class="w-44 h-auto rounded-xl shadow-xl"></div>
      <p>Tarjeta de crédito Visa, reconocida mundialmente por su
        seguridad y aceptación en millones de establecimientos.
        Perfecta para viajes y compras internacionales.</p>
      <button class="w-auto px-3 py-2.5 bg-blue-chill-700 hover:bg-blue-chill-800 text-white text-sm rounded-md font-medium">Solicitar </button>
    </div>
  </div>

  <div class="gap-4 p-6 rounded shadow-2xl  border-2 border-blue-chill-950">
    <h4>Tarjeta de credito blue sky</h4>
    <div>
      <div><img src="products-img/credito visa.png" alt="" class="w-44 h-auto rounded-xl shadow-xl"></div>
      <p>Tarjeta de Crédito blue sky conocida por su amplia
        aceptación y beneficios exclusivos. Ideal para compras
        seguras y convenientes tanto a nivel local
        como internacion.</p>
      <button class="w-auto px-3 py-2.5 bg-blue-chill-700 hover:bg-blue-chill-800 text-white text-sm rounded-md font-medium">Solicitar </button>
    </div>
  </div>

  <div class="gap-4 p-6 rounded shadow-2xl  border-2 border-blue-chill-950">
    <h4>Tarjeta de credito visa soriana</h4>
    <div>
      <div><img src="products-img/Soriana.png" alt="" class="w-44 h-auto rounded-xl shadow-xl"></div>
      <p>Tarjeta de crédito visa soriana de alta gama con beneficios exclusivos
        como acceso a salas VIP en aeropuertos, recompensas en
        puntos y servicios personalizados.</p>
      <button class="w-auto px-3 py-2.5 bg-blue-chill-700 hover:bg-blue-chill-800 text-white text-sm rounded-md font-medium">Solicitar </button>
    </div>
  </div>

</div>
