<footer class="flex flex-wrap justify-center sm:justify-between py-6 px-6 gap-4 sm:gap-0 bg-emerald-700 text-white">
  <p class="content-center text-2xl font-medium text-balance">Banco Avocado® Derechos reservados 2024 </p>
  <div class="sm:max-w-min md:w-72 flex justify-end gap-5">
    <a href="https://www.instagram.com/" target="_blank">
      <fa-icon [icon]="faSquareInstagram" size="2x"></fa-icon>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <fa-icon [icon]="faSquareFacebook" size="2x" ></fa-icon>
    </a>
    <a href="https://www.twitter.com/" target="_blank">
      <fa-icon [icon]="faSquareXTwitter" size="2x"></fa-icon>
    </a>
  </div>
</footer>
